# Application
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=products_service
DB_SYNCHRONIZE=false
DB_LOGGING=true

# Messaging
RABBITMQ_URL=amqp://guest:guest@localhost:5672
